#**PROYECTO FINAL TECNOLOCHICAS BEDU**
Análisis del Cambio Climatico
---

Por:

*   Hannia Estefani Chable Gomez
*   Frida Alejandra Perez Xequeb  
*   Gemma Isela Castañeda Hernández
*   Gemma Melanie Sánchez Herrera
*   Gretel Dairen Zavaleta Moctezuma
*   Gladis Lucero Rodríguez Sánchez

# **Descripición del problema**

El cambio climatico representa uno de los desafíos globales más críticos en la era tecnológica actual, siendo el incremento histórico de la temperatura global la evidencia más contundente de este fénomeno. Este proyecto se enfoca en analizar la disparidad potencial en el impacto del calentamiento global


---

# **Hipotesis**

Existe una disparidad positiva; es decir, la tasa de aceleración del calentamiento en el siglo XXI es más añta en las naciones de bajos ingresos en comparación con las de altos ingresos


---

# **Objetivos**

Evaluar y cuantificar la diferencia en la tendencia de calentamiento entre países de altos y bahos ingresos desde el año 2000 hasta el 2019, utilizando métricas de aceleración de la temaperatura.


---

# **Dataset utilizado para el proyecto**

Link del dataset de Kaggel: Temperatura change https://www.kaggle.com/datasets/sevgisarac/temperature-change

Tamaño


*   Número de Columnas (Variables): 9,657
*   Número de Filas (Registros/Observaciones): 66

In [ ]:
#primero vamos a importar las bibliotecas necesarias
import pandas as pd
import numpy as np
from functools import reduce

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Ruta de acceso Gretel:
/content/drive/MyDrive/tecnolochicas_bedu (1)/Environment_Temperature_change_E_All_Data_NOFLAG.csv

otra ruta:
/content/drive/MyDrive/BEDU/Environment_Temperature_change_E_All_Data_NOFLAG.csv

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/tecnolochicas_bedu/Environment_Temperature_change_E_All_Data_NOFLAG.csv', encoding='latin-1', encoding_errors='ignore') #encoding_errors= ignore hace que no se detenga si hay caracteres raros

In [ ]:
df_copia = df.copy() #Copia segura para limpiar y manipular

# **Exploración de datos**

In [ ]:
df.shape #tamaño total de datos, filas y columnas

(9656, 66)

In [ ]:
df.ndim #dimensiones de la matriz

2

In [ ]:
df.info() #Tipos de datos, contamos con enteros, object (texto) y flotantes.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9656 entries, 0 to 9655
Data columns (total 66 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     9656 non-null   int64
 1   Area          9656 non-null   object
 2   Months Code   9656 non-null   int64
 3   Months        9656 non-null   object
 4   Element Code  9656 non-null   int64
 5   Element       9656 non-null   object
 6   Unit          9656 non-null   object
 7   Y1961         8287 non-null   float64
 8   Y1962         8322 non-null   float64
 9   Y1963         8294 non-null   float64
 10  Y1964         8252 non-null   float64
 11  Y1965         8281 non-null   float64
 12  Y1966         8364 non-null   float64
 13  Y1967         8347 non-null   float64
 14  Y1968         8345 non-null   float64
 15  Y1969         8326 non-null   float64
 16  Y1970         8308 non-null   float64
 17  Y1971         8303 non-null   float64
 18  Y1972         8323 non-null   float64
 19  Y1973         8394 non-null   float64
 20  Y1974         8374 non-null   float64
 21  Y1975         8280 non-null   float64
 22  Y1976         8209 non-null   float64
 23  Y1977         8257 non-null   float64
 24  Y1978         8327 non-null   float64
 25  Y1979         8290 non-null   float64
 26  Y1980         8283 non-null   float64
 27  Y1981         8276 non-null   float64
 28  Y1982         8237 non-null   float64
 29  Y1983         8205 non-null   float64
 30  Y1984         8259 non-null   float64
 31  Y1985         8216 non-null   float64
 32  Y1986         8268 non-null   float64
 33  Y1987         8284 non-null   float64
 34  Y1988         8273 non-null   float64
 35  Y1989         8257 non-null   float64
 36  Y1990         8239 non-null   float64
 37  Y1991         8158 non-null   float64
 38  Y1992         8354 non-null   float64
 39  Y1993         8315 non-null   float64
 40  Y1994         8373 non-null   float64
 41  Y1995         8409 non-null   float64
 42  Y1996         8439 non-null   float64
 43  Y1997         8309 non-null   float64
 44  Y1998         8370 non-null   float64
 45  Y1999         8324 non-null   float64
 46  Y2000         8342 non-null   float64
 47  Y2001         8241 non-null   float64
 48  Y2002         8312 non-null   float64
 49  Y2003         8390 non-null   float64
 50  Y2004         8415 non-null   float64
 51  Y2005         8424 non-null   float64
 52  Y2006         8503 non-null   float64
 53  Y2007         8534 non-null   float64
 54  Y2008         8475 non-null   float64
 55  Y2009         8419 non-null   float64
 56  Y2010         8435 non-null   float64
 57  Y2011         8437 non-null   float64
 58  Y2012         8350 non-null   float64
 59  Y2013         8427 non-null   float64
 60  Y2014         8377 non-null   float64
 61  Y2015         8361 non-null   float64
 62  Y2016         8348 non-null   float64
 63  Y2017         8366 non-null   float64
 64  Y2018         8349 non-null   float64
 65  Y2019         8365 non-null   float64
dtypes: float64(59), int64(3), object(4)
memory usage: 4.9+ MB

In [ ]:
# Convertir cambios de temperatura de Centigrados a Fahrenheit por año
temp_df = df_copia.copy()
temp_df = temp_df[(temp_df['Area Code'] >= 2) & (temp_df['Area Code'] <= 5873)].copy()
for col in [col for col in df_copia.columns if col.startswith('Y')]:
    temp_df[f'{col}_F'] = temp_df[col].apply(lambda c: c * 9/5) + 32
print(temp_df[['Area', 'Area Code', 'Months'] + [col for col in temp_df.columns if col.endswith('_F')]].sample(15))

                                         Area  Area Code       Months  \
2597              Falkland Islands (Malvinas)         65         July
562                                   Bahrain         13      October
3774                                  Jamaica        109      January
9576                        Annex I countries       5848     December
9547  Net Food Importing Developing Countries       5817  MarAprMay
1327                 Central African Republic         37      January
234                                  Anguilla        258  SepOctNov
1391                                     Chad         39  SepOctNov
3864                                   Jordan        112     December
2178                                 Djibouti         72     February
9610                    Non-Annex I countries       5849     December
7645                             Turkmenistan        213  JunJulAug
4674                                Mauritius        137    September
6555                             Saudi Arabia        194  MarAprMay
1999                                   Cyprus         50  MarAprMay

      Y1961_F  Y1962_F  Y1963_F  Y1964_F  Y1965_F  Y1966_F  Y1967_F  ...  \
2597  33.2132  33.2132  33.2132  33.2132  33.2132  33.2132  33.2132  ...
562   30.2126  32.3402  33.5444  27.8978  34.6190  33.4796  33.8144  ...
3774  32.5400  32.0180  31.8506  32.0720  30.5420  32.7758  31.6364  ...
9576  31.6922  31.8200  30.5582  30.2756  33.6812  31.7948  32.3384  ...
9547  32.5364  32.5364  32.5364  32.5364  32.5364  32.5364  32.5364  ...
1327  33.0494  33.0494  33.0494  33.0494  33.0494  33.0494  33.0494  ...
234   31.7084  32.2952  32.6966  32.0180  31.9910  31.9280  31.9424  ...
1391  32.8856  32.8856  32.8856  32.8856  32.8856  32.8856  32.8856  ...
3864  32.8064  34.3886  32.0612  32.5256  33.2258  33.9710  32.8028  ...
2178  33.2528  30.8948  32.8604  32.3168  30.0830  32.1764  32.3276  ...
9610  31.5356  32.4734  32.3456  31.2530  31.6688  31.4672  31.1162  ...
7645      NaN      NaN      NaN      NaN      NaN      NaN      NaN  ...
4674  32.0252  32.8280  31.0694  31.4510  32.1818  33.2438  31.9406  ...
6555  33.2438  33.2438  33.2438  33.2438  33.2438  33.2438  33.2438  ...
1999  33.1466  33.1466  33.1466  33.1466  33.1466  33.1466  33.1466  ...

      Y2010_F  Y2011_F  Y2012_F  Y2013_F  Y2014_F  Y2015_F  Y2016_F  Y2017_F  \
2597      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
562   35.9528  33.5606  36.1958  31.7534  36.6260  38.6330  33.4310  36.8798
3774  33.6452  33.1790  33.1484  34.5110  34.7504  34.2770  34.8278  34.0520
9576  32.5436  35.8970  31.7516  34.6946  35.9294  37.8356  33.2204  36.2246
9547  32.5364  32.5364  32.5364  32.5364  32.5364  32.5364  32.5364  32.5364
1327  33.0494  33.0494  33.0494  33.0494  33.0494  33.0494  33.0494  33.0494
234   32.3096  32.8658  33.5858  33.4580  33.2150  33.7874  33.1556  33.7820
1391  32.8856  32.8856  32.8856  32.8856  32.8856  32.8856  32.8856  32.8856
3864  35.1626  31.3142  34.2608  30.8732  36.3758  31.2116  30.5042  36.9374
2178      NaN  34.2680      NaN      NaN  34.9592  35.4416  34.3724  35.6630
9610  33.5444  32.4536  33.0944  33.3248  33.3212  34.1528  34.9754  33.9998
7645      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4674  33.9386  33.8792  33.0584  34.6064  34.2302  34.5416  33.1340  35.1680
6555  33.2438  33.2438  33.2438  33.2438  33.2438  33.2438  33.2438  33.2438
1999  33.1466  33.1466  33.1466  33.1466  33.1466  33.1466  33.1466  33.1466

      Y2018_F  Y2019_F
2597      NaN      NaN
562   36.0302  39.1640
3774  33.9890  34.4120
9576  34.9862  36.9446
9547  32.5364  32.5364
1327  33.0494  33.0494
234   32.9900  33.8846
1391  32.8856  32.8856
3864  34.8260  34.1546
2178  35.3408  35.2670
9610  33.6758  34.2464
7645      NaN      NaN
4674  34.4750  34.9988
6555  33.2438  33.2438
1999  33.1466  33.1466

[15 rows x 62 columns]

# **Preparación y Limpieza del DataFrame para el análisis**

Convertir datos identificadores escritos como enteros a texto

In [ ]:
# Definir de la lista de columnas de código que queremos convertir de entero (int64) a texto (str u object en Pandas)
columnas_de_codigo = ['Area Code', 'Months Code', 'Element Code']

In [ ]:
# Conversión a tipo 'str' (texto) en el DataFrame de análisis
df_copia[columnas_de_codigo] = df_copia[columnas_de_codigo].astype(str)

# **Sustituir datos vacíos a NaN**

In [ ]:
# Definir las columnas que tienen celdas vacías (desde la 7 hasta el final)
columnas_datos_vacios = df_copia.columns[7:]

In [ ]:
 # Sustituir en la copia las celdas vacías por np.nan
df_copia[columnas_datos_vacios] = df_copia[columnas_datos_vacios].replace(to_replace=['',' '], value=np.nan, regex=False)

In [ ]:
# Contar NaN en cada columna
nan_por_columna = df_copia.isna().sum()
print(f'NaNs por columna: \n{nan_por_columna}\n')

print("-"*20)

# Contar NaN en cada fila
nan_por_fila = df_copia.isna().sum(axis=1)
print(f'NaNs por fila: \n{nan_por_fila}\n')

NaNs por columna:
Area Code          0
Area               0
Months Code        0
Months             0
Element Code       0
                ...
Y2015           1295
Y2016           1308
Y2017           1290
Y2018           1307
Y2019           1291
Length: 66, dtype: int64

--------------------
NaNs por fila:
0       0
1       0
2       0
3       0
4       0
       ..
9651    0
9652    0
9653    0
9654    0
9655    0
Length: 9656, dtype: int64

In [ ]:
# Porcentaje de NaN en cada columna, checamos que no sobrepase el 15%
porcen_nan_por_columna = df_copia.isna().sum() / len(df_copia) * 100
print(f'% NaNs por columna: \n{porcen_nan_por_columna}\n')

% NaNs por columna:
Area Code        0.000000
Area             0.000000
Months Code      0.000000
Months           0.000000
Element Code     0.000000
                  ...
Y2015           13.411350
Y2016           13.545982
Y2017           13.359569
Y2018           13.535626
Y2019           13.369925
Length: 66, dtype: float64

# **Eliminación de valores faltantes**

In [ ]:
# Copia del dataframe para manipulaciones seguras
df_clean = df_copia.copy()
df_clean.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [ ]:
# Eliminar filas donde cualquier valor es NaN
df_clean.dropna(axis=0, how='any')

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9651,5873,OECD,7018,JunJulAug,6078,Standard Deviation,°C,0.247,0.247,0.247,...,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247,0.247
9652,5873,OECD,7019,SepOctNov,7271,Temperature change,°C,0.036,0.461,0.665,...,0.958,1.106,0.885,1.041,0.999,1.670,1.535,1.194,0.581,1.233
9653,5873,OECD,7019,SepOctNov,6078,Standard Deviation,°C,0.378,0.378,0.378,...,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378,0.378
9654,5873,OECD,7020,Meteorological year,7271,Temperature change,°C,0.165,-0.009,0.134,...,1.246,0.805,1.274,0.991,0.811,1.282,1.850,1.349,1.088,1.297
9655,5873,OECD,7020,Meteorological year,6078,Standard Deviation,°C,0.260,0.260,0.260,...,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260,0.260

# **Transformación de datos**

In [ ]:
#Eliminar la "Y" en los años para que ahora sea más legible por año cada encabezado
df_clean.rename(
    columns={col: col[1:] if col.startswith("Y") else col for col in df_clean.columns},
    inplace=True
)
df_clean.head()

,Area Code,Area,Months Code,Months,Element Code,Element,Unit,1961,1962,1963,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [ ]:
#Traducir al español los encabezados de las columnas

traduccion_encabezados = {
    "Area Code": "Código de área",
    "Area": "Área",
    "Months Code": "Código de mes",
    "Months": "Mes",
    "Element Code": "Código de elemento",
    "Element": "Elemento",
    "Unit": "Unidad"
}

df_clean.rename(columns=traduccion_encabezados, inplace=True)
df_clean.head()

,Código de área,Área,Código de mes,Mes,Código de elemento,Elemento,Unidad,1961,1962,1963,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,2,Afghanistan,7001,January,7271,Temperature change,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Standard Deviation,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Temperature change,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Standard Deviation,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Temperature change,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [ ]:
#Traducir al español los datos de la columna 'Elemento'

traduccion_elemento = {"Temperature change": "Cambio de temperatura", "Standard Deviation": "Desviación Estándar"}
df_clean['Elemento'] = df_clean['Elemento'].replace(traduccion_elemento)
df_clean.head()

,Código de área,Área,Código de mes,Mes,Código de elemento,Elemento,Unidad,1961,1962,1963,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,2,Afghanistan,7001,January,7271,Cambio de temperatura,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,January,6078,Desviación Estándar,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,February,7271,Cambio de temperatura,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,February,6078,Desviación Estándar,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,March,7271,Cambio de temperatura,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [ ]:
#Traducir los datos de la columna 'Mes'

traduccion_meses = {"January": "Enero", "February": "Febrero", "March": "Marzo", "April": "Abril",
                    "May": "Mayo", "June": "Junio", "July": "Julio", "August": "Agosto",
                    "September": "Septiembre", "October": "Octubre", "November": "Noviembre", "December": "Diciembre",
                    "Meteorological year": "Año Meteorológico"}

df_clean['Mes'] = df_clean['Mes'].replace(traduccion_meses)
df_clean.head()

,Código de área,Área,Código de mes,Mes,Código de elemento,Elemento,Unidad,1961,1962,1963,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,2,Afghanistan,7001,Enero,7271,Cambio de temperatura,°C,0.777,0.062,2.744,...,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,2,Afghanistan,7001,Enero,6078,Desviación Estándar,°C,1.950,1.950,1.950,...,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,2,Afghanistan,7002,Febrero,7271,Cambio de temperatura,°C,-1.743,2.465,3.919,...,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,2,Afghanistan,7002,Febrero,6078,Desviación Estándar,°C,2.597,2.597,2.597,...,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,2,Afghanistan,7003,Marzo,7271,Cambio de temperatura,°C,0.516,1.336,0.403,...,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

# **Preparación de datos**

Filtrado de datos

Filtrar solo los datos anuales: ésto porque necesitamos los resúmenes de temperatura de todo el año para el análisis de tendencias.

In [ ]:
# Filtramos solo las filas que contienen el resumen del año completo (lo que contiene Metereological year).
# De la columna "Mes" quédate sólo con las filas que digan "Año Meteorológico" porque es el que contiene los resúmenes de temperatura de todo el año que necesitaremos para el análisis de tendencias.
df_anual = df_clean[df_clean['Mes'] == 'Año Meteorológico'].copy()

In [ ]:
# Seleccionamos solo las columnas de año
columnas_años = df_anual.columns[7:]
print("\n--- Datos Anuales Filtrados y Listos ---")

--- Datos Anuales Filtrados y Listos ---

Filtro y LAMBDA

In [ ]:
# Filtrado paises con cambio de temperatura mayor a 6°C en 2019 usando una función lamda
temp_changes =  df_clean[ df_clean['2019'] > 6].copy()
temp_changes['High_Change'] = temp_changes.apply(lambda row: [col for col in df_clean.columns if col.isdigit() and row[col] > 6], axis=1)
print(temp_changes[['Área', 'Mes', 'Elemento', '2019']])

                                Área      Mes               Elemento   2019
648                          Belarus  Febrero  Cambio de temperatura  6.504
2450                         Estonia  Febrero  Cambio de temperatura  6.487
4082                          Latvia  Febrero  Cambio de temperatura  6.413
4286                       Lithuania  Febrero  Cambio de temperatura  6.465
7180  Svalbard and Jan Mayen Islands    Abril  Cambio de temperatura  7.215

Map y LAMBDA

In [ ]:
# Usamos 'apply' que es la versión de Pandas de 'map'.
# Función LAMBDA: verifica si la media de los 10 años más recientes (2010-2019) es mayor a 1.0 °C y crea una nueva columna de SI o NO. Recibe la fila (x) y calcula el promedio de las columnas de 2010 a 2019 fila por fila.
df_anual['Decada_Reciente_Extrema'] = df_anual.apply( lambda x: 'SI' if x[['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']].mean() > 1.0 else 'NO', axis=1)
print("\n--- Clasificación de Países Extremos Creada ---")
print(df_anual[['Área', 'Decada_Reciente_Extrema']].head(10))

--- Clasificación de Países Extremos Creada ---
               Área Decada_Reciente_Extrema
32      Afghanistan                      SI
33      Afghanistan                      NO
66          Albania                      SI
67          Albania                      NO
100         Algeria                      SI
101         Algeria                      NO
134  American Samoa                      SI
135  American Samoa                      NO
168         Andorra                      SI
169         Andorra                      NO

Reduce y Lambda

In [ ]:
# Convertir Código de área a numérico
df_clean['Código de área'] = pd.to_numeric(df_clean['Código de área'], errors='coerce')

# Filtrar por Cambio de temperatura en todas las áreas (Usando como referencia los Código de área)
temp_df = df_clean[df_clean['Elemento'] == 'Cambio de temperatura'].copy()
temp_df = temp_df[(temp_df['Código de área'] >= 2) & (temp_df['Código de área'] <= 5873)].copy()

# Identificar columnas de años
year_columns = [col for col in temp_df.columns if col.isdigit() and 1960 < int(col) <= 2019]

# Función para sumar valores de las columnas de años por fila (mes y área)
temp_df['Cambio_Total_por_Mes'] = temp_df.apply(
    lambda fila: reduce(lambda x, y: x + (y if pd.notna(y) else 0), [fila[col] for col in year_columns]),
    axis=1
)

# Sumar el Cambio_Total_por_Mes a lo largo de todos los años por área
def sum_reduce(series):
    return reduce(lambda x, y: x + (y if pd.notna(y) else 0), series, 0)

area_totals = temp_df.groupby(['Área', 'Código de área'])['Cambio_Total_por_Mes'].apply(sum_reduce).reset_index()
area_totals.rename(columns={'Cambio_Total_por_Mes': 'Cambio_Total_por_Área'}, inplace=True)

print(area_totals.head(20))

                         Área  Código de área  Cambio_Total_por_Área
0                 Afghanistan               2                436.238
1                      Africa            5100                493.411
2                     Albania               3                486.623
3                     Algeria               4                716.772
4              American Samoa               5                395.732
5                    Americas            5200                485.926
6                     Andorra               6                699.507
7                      Angola               7                415.385
8                    Anguilla             258                258.730
9           Annex I countries            5848                605.546
10                 Antarctica              30                159.057
11        Antigua and Barbuda               8                250.776
12                  Argentina               9                266.328
13                      Aruba              22                390.277
14                       Asia            5300                475.665
15                  Australia              10                438.000
16  Australia and New Zealand            5501                432.348
17                    Austria              11                752.741
18                 Azerbaijan              52                  0.000
19                    Bahamas              12                428.319